@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 dark:border-white;
    }  
   
   
    #nav-holder2{
      @apply bg-white dark:bg-gray-900
    }
    #nav-holder2{
      @apply bg-white dark:bg-gray-900
    }
    
    #profile-holder{
      @apply bg-white dark:bg-gray-700 drop-shadow-w2xl
    }
    
  
   
    /* selection {
    @apply text-white bg-blue-600;
    } */
    #logo1{
      @apply bg-gradient-to-b from-sky-100 to-sky-300 dark:bg-gradient-to-b dark:from-blue-900 dark:to-fuchsia-700
    }
    #nav-admin {
      @apply bg-white dark:bg-gray-800
    }
    #logo2{
      @apply bg-gradient-to-b from-sky-300 to-sky-100 dark:bg-gradient-to-b dark:from-purple-600 dark:to-indigo-900
    }
}